.buy-btn {
	margin: 2rem 1rem;
	a {
		width: 10rem;
		padding: 1rem;
		background-color: #2ab7ca;
		border-radius: 0.5rem;
		text-decoration: none;
		color: white;
	}
}
.no-stock {
	margin: 2rem;
	background-color: #eb5c5c;
	color: white;
	padding: 1.5rem;
	font-weight: bold;
	border-radius: 0.5rem;
}
