.checkout-form {
	display: flex;
	flex-direction: column;
	width: 30rem;
	margin: 2rem auto;
	input {
		border: 1px solid #2ab7ca;
		border-radius: 0.5rem;
		margin: 0.5rem 0;
		padding: 1rem;
		&.error {
			border: 2px solid #eb5c5c;
		}
	}
	.formik-message {
		margin: 0.5rem 0;
		font-size: 1.2rem;
	}
	button {
		background-color: #2ab7ca;
		border: none;
		border-radius: 0.5rem;
		padding: 1rem;
		color: white;
		font-size: 2rem;
		font-weight: bold;
		cursor: pointer;
		margin-top: 0.5rem;
	}
	button:disabled {
		background-color: gray;
	}
}
.checkout-total {
	padding: 0 1rem;
	background-color: white;
	margin-top: 1rem;
	border-radius: 0.5rem;
	text-align: end;
	.price {
		margin-left: 1rem;
		color: #00cf00;
	}
}
